.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  border-bottom: 1px solid #e8e8e8;
  padding: 0px 10%;
  margin: 0 auto;
}

.logo {
  margin: 0;
  width: 20%;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.actions a {
  text-decoration: none;
  font-family: "cairo-bold";
  font-weight: bold;
  font-size: 18px;
  color: #01011f;
  padding: 0 10px;
}

.button {
  font-family: "cairo-bold";
  border: none;
  background: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .actions a {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0;
  }
  .actions {
    width: 100%;
  }

  .actions a {
    font-size: 8px;
    padding: 0 10px;
  }
}
